
.severity-suggested {
  color: var(--ee-brand-primary);
}

.supported-n {
  color: var(--ee-brand-danger);
  font-weight: bold;
  text-align: center;
}

.supported-y {
	color: var(--ee-success);
	text-align: center;
	font-weight: bold;
}
.severity-required {
	color: var(--ee-brand-danger);
}
